/* General Stylesheet for Maxima website */

/* Styles for the general body */
body {
 color: rgb(0,0,0);
 margin-left: 1%; 
 margin-right: 1%;
 font-family: Arial, Helvetica, sans-serif, "Times New Roman", Verdana;
 background: rgb(255,255,255);
}

h1 {
 font-family: "Times New Roman", Garamond, serif;
}

/* Styles for the title */
div.title { 
 text-align: center;
 font-size: 150%;
 border: black solid; 
 border-width: thin; 
 color: rgb(0,0,0);
 width: 100%;
 padding: 2px;
 background: rgb(154,182,196);
}

div.titlespacer {
 border: black solid;
 border-top-width: 0;
 border-right-width: thin;
 border-bottom-width: thin;
 border-left-width: thin;
 color: rgb(0,0,0);
 width: 100%;
 height: 4px;
 padding: 2px;
 background: rgb(190,196,199);
}

a:link {text-decoration:none; color: rgb(20,0,200)}
a:visited {text-decoration:none; color: rgb(70,40,120)}
a:hover{ text-decoration:underline; color: rgb(20,0,200)}

/* Styles for the Menu */
.menu {
 text-align: center;
 float: left;
 background: rgb(220,226,229);
 padding: 2px;
 width: 104px;
 border: black solid ;
 border-top-width: 0;
 border-right-width: thin;
 border-bottom-width: thin;
 border-left-width: thin;
}

.menutitle {
 padding: 5px;
 text-align: center;
 border: rgb(164,180,196) solid;
 border-top-width: 0;
 border-right-width: 0;
 border-bottom-width: thin;
 border-left-width: 0; 
 }

.menubutton {
 width: 104px;
 font-size: medium;
 margin: 0px 5px 1px 0px;
 text-align: center;
 border: rgb(164,180,196) solid;
 border-top-width: 0;
 border-right-width: 0;
 border-bottom-width: 1px;
 border-left-width: 0; 
}


/* Style rules for content boxes */
.contentbox {
 float: left;
 background: rgb(255,255,255);
 margin-left: 2%; 
 margin-right: 0;
 width: 79%;
}

.contentbox2 { 
background: rgb(230,236,239);
 border: black solid;
 border-width: thin;
 padding: 3px;
}

/* Style rules for image space */
.imagespace {
 margin: 7px 0px 0px 0px;
 }

/* Style rules for News section */
.newsline{
background: rgb(190,196,199);
 width: 100%;
 height: 2px; 
 margin: 0px 0px 7px 0px;
}
.newstitle{ 
font-family: Verdana, sans-serif, "Times New Roman", Verdana;
font-size: 120%;
color: rgb(128,128,128);
}
.newsdate{ 
font-family: Verdana, sans-serif, "Times New Roman", Verdana;
font-size: 90%;
color: rgb(128,128,128);
}
.news{ 
 border: black solid;
 border-width: thin;
 background: rgb(210,216,219);
 width: 98%;
 padding: 7px;
}

/* Style rules for screenshots*/
.screenshot {
 text-align: center;
 }
.image {
 background: rgb(190,196,199);
 border: black solid;
 border-width: thin;
 padding: 6px;
 text-align: center;
 }
