Source: maxima
Section: math
Priority: optional
Maintainer: Camm Maguire <camm@enhanced.com>
Build-Depends: gcl ( >= 2.6.7-15 ) , texinfo, libgmp3-dev, libreadline5-dev | libreadline-dev, locales, automake1.9, debhelper ( >=4.1.0 ) , libncurses5-dev, autoconf2.13, gawk | awk, tetex-extra, sharutils
Standards-Version: 3.6.2

Package: maxima
Architecture: any
Depends:  ${shlibs:Depends}, gnuplot-nox
Recommends: maxima-share, gv
Suggests: texmacs, maxima-doc, wish
Description: A computer algebra system -- base system
 This system MAXIMA is a COMMON LISP implementation due to William F.
 Schelter, and is based on the original implementation of Macsyma at
 MIT, as distributed by the Department of Energy.  I now have
 permission from DOE to make derivative copies, and in particular to
 distribute it under the GNU public license.
 .
 This package contains the main executables and base system files.

Package: maxima-src
Architecture: all
Depends:
Description: A computer algebra system -- source code
 Maxima is a fully symbolic computation program.  It is full featured
 doing symbolic manipulation of polynomials, matrices, rational
 functions, integration, Todd-coxeter methods for finite group
 analysis, graphing, multiple precision floating point computation.
 It has a symbolic source level debugger for maxima code.  Maxima is
 based on the original Macsyma developed at MIT in the 1970s.  It is
 quite reliable, and has good garbage collection, and no memory leaks.
 It comes with hundreds of self tests.
 .
 This package contains the lisp source code.

Package: maxima-test
Architecture: all
Depends: maxima (>= ${Source-Version}), maxima-src (>= ${Source-Version}), maxima-share (>= ${Source-Version})
Description: A computer algebra system -- test suite
 Maxima is a fully symbolic computation program.  It is full featured
 doing symbolic manipulation of polynomials, matrices, rational
 functions, integration, Todd-coxeter methods for finite group
 analysis, graphing, multiple precision floating point computation.
 It has a symbolic source level debugger for maxima code.  Maxima is
 based on the original Macsyma developed at MIT in the 1970s.  It is
 quite reliable, and has good garbage collection, and no memory leaks.
 It comes with hundreds of self tests.
 .
 This package contains a build integrity test suite.

Package: maxima-doc
Architecture: all
Depends:
Replaces: maxima (<< ${Source-Version})
Description: A computer algebra system -- documentation
 Maxima is a fully symbolic computation program.  It is full featured
 doing symbolic manipulation of polynomials, matrices, rational
 functions, integration, Todd-coxeter methods for finite group
 analysis, graphing, multiple precision floating point computation.
 It has a symbolic source level debugger for maxima code.  Maxima is
 based on the original Macsyma developed at MIT in the 1970s.  It is
 quite reliable, and has good garbage collection, and no memory leaks.
 It comes with hundreds of self tests.
 .
 This package contains most of the documentation.

Package: xmaxima
Architecture: any
Depends:  tk8.4 | tk8.3, maxima (>= ${Source-Version}), maxima-doc (>= ${Source-Version}), maxima-test (>= ${Source-Version})
Suggests: texmacs
Replaces: maxima (<< ${Source-Version})
Description: A computer algebra system -- x interface
 Maxima is a fully symbolic computation program.  It is full featured
 doing symbolic manipulation of polynomials, matrices, rational
 functions, integration, Todd-coxeter methods for finite group
 analysis, graphing, multiple precision floating point computation.
 It has a symbolic source level debugger for maxima code.  Maxima is
 based on the original Macsyma developed at MIT in the 1970s.  It is
 quite reliable, and has good garbage collection, and no memory leaks.
 It comes with hundreds of self tests.
 .
 This package contains an X Windows interface using the tcl/tk 
 libraries. 

Package: maxima-emacs
Depends:  maxima (>= ${Source-Version}), emacs21 | emacsen, emacsen-common (>= 1.4.14), tetex-extra
Architecture: all
Replaces: maxima (<< ${Source-Version})
Description: A computer algebra system -- emacs interface
 Maxima is a fully symbolic computation program.  It is full featured
 doing symbolic manipulation of polynomials, matrices, rational
 functions, integration, Todd-coxeter methods for finite group
 analysis, graphing, multiple precision floating point computation.
 It has a symbolic source level debugger for maxima code.  Maxima is
 based on the original Macsyma developed at MIT in the 1970s.  It is
 quite reliable, and has good garbage collection, and no memory leaks.
 It comes with hundreds of self tests.
 .
 This package contains an emacs interface.

Package: maxima-share
Architecture: all
Depends:  maxima (>= ${Source-Version})
Replaces: maxima (<< ${Source-Version})
Description: A computer algebra system -- extra code
 Maxima is a fully symbolic computation program.  It is full featured
 doing symbolic manipulation of polynomials, matrices, rational
 functions, integration, Todd-coxeter methods for finite group
 analysis, graphing, multiple precision floating point computation.
 It has a symbolic source level debugger for maxima code.  Maxima is
 based on the original Macsyma developed at MIT in the 1970s.  It is
 quite reliable, and has good garbage collection, and no memory leaks.
 It comes with hundreds of self tests.
 .
 This package contains a set of contributed routines and add-on 
 packages.
